<p>
  <h2>Your Message has been sent!</h2>
</p>
<p>
  <h3>Info</h3>
</p>
<div class="separator_bottom">
  &nbsp;
</div>

<p>Thanks for your request, we will process it as fast as possible.</p>

<div class="separator_bottom">
  &nbsp;<br/>
  &nbsp;
</div>
